.header-heading {
  color: var(--color-white);
  font-family: var(--font-heading);
  text-align: center;
  font-size: 60px;
}

header {
  min-height: calc(100vh - 72px);
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../../images/bg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
}
.header-inputs {
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.heading-container {
  height: 40vh;
}

@media (max-width: 992px) {
  .header-heading {
    font-size: 40px;
  }

  header::after {
    height: 85%;
  }
}

@media (max-width: 800px) {
  .header-inputs {
    width: 100%;
  }
  .header-heading {
    font-size: 35px;
  }
  header::after {
    background-position: top center;
  }
}

@media (max-width: 600px) {
  .header-heading {
    font-size: 30px;
  }
}
