footer {
  background-color: var(--gray);
  color: var(--color-white);
}

footer p {
  font-size: 14px;
}
.footer-logo {
  font-family: var(--font-heading);
}
.footer-logo-svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg)
    brightness(106%) contrast(106%);
}
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-links a {
  color: var(--color-white);
  margin-left: 5px;
  transition: 0.3s;
  margin-bottom: 5px;
  display: inline-block;
}
.footer-links a:hover {
  color: white;
  transform: translateY(-3px);
}
