:root {
  --color-primary: #42a9d3;
  --color-text: #272727;
  --color-text-secondary: #777;
  --color-white: #fff;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-heading: "Kaushan Script", cursive;
}

html {
  scroll-behavior: smooth;
}

.primary-text {
  color: var(--color-text);
}

.secondary-text {
  color: var(--color-text-secondary);
}

.primary-color-text {
  color: var(--color-primary);
}

.heading {
  color: var(--color-primary);
  font-weight: 700;
  margin-left: 20px;
  padding-left: 10px;
  position: relative;
}

.sub-heading {
  color: var(--color-text-secondary);
  padding: 0 30px;
  font-size: 18px;
  letter-spacing: 3px;
}
.heading::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
}

.padding-zero {
  padding: 0;
}

.btn-main {
  border: 1px solid transparent;
  border-radius: 9999px;
  outline: none;
  padding: 10px 40px;
  font-family: var(--font-secondary);
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-primary);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.btn-main:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
}

.padding-big {
  padding: 120px 60px 20px 60px;
}

@media (max-width: 1000px) {
  .padding-big {
    padding: 80px 40px 10px 40px;
  }
}

@media (max-width: 700px) {
  .padding-big {
    padding: 60px 20px 10px 20px;
  }
  .heading {
    font-size: 25px;
  }
  .sub-heading {
    font-size: 18px;
  }
}
